{
    "tag_list": [
        {
            "mac":"<tags mac address>",
            "last_seen":"<current_date>",
            "rssi": <integer tag rssi>
        },
        {
            "mac":"D5:17:35:11:22:33",
            "last_seen":"2024-06-12",
            "rssi": -82
        },
        {
            "mac":"CB:D0:F6:11:22:33",
            "last_seen":"2024-06-11",
            "rssi": -62
        }
    ]
}
